:root {
    --nlt-blue: #1995DC;
    --white: #ffffff;
}

body, section, article, p, div, header, footer {
    box-sizing: border-box;
}

a {
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
}

a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body > nav {
    position: absolute;
    width: 95%;
    height: 300px;
    margin-right: 5%;
    background-image: url(../img/rabbit.png);
    background-size: auto 25%;
    background-position: bottom right;
    background-repeat: no-repeat;
}

body > nav > ul {
    display: none;
}

body > header {
    width: 100%;
    background-color: var(--nlt-blue);
    background-image: url(../img/logo.png);
    height: 300px;
    background-size: auto 65%;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--nlt-blue);
    font-size: 1px;
}

body > footer {
    background-color: var(--white);
    width: 100%;
    background-image: url(../img/team.png);
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

body > footer > section {
    background-color: var(--nlt-blue);
    width: 100%;
    height: 50px;
    float: left;
    position: relative;
    padding: 0 10%;
    text-align: center;
}

body > footer > section.logo {
    margin-top: 300px;
    background-color: var(--nlt-blue);
    background-image: url(../img/logo_simple.png);
    height: 250px;
    background-size: auto 45%;
    background-repeat: no-repeat;
    background-position: center;
}

body > footer > section.links {
    padding: 0;
    height: 130px;
    display: grid;
    grid-template-columns: auto auto;
}

body > footer > section.links > article {
    display: inline-block;
}

body > footer > section.links > article.social a {
    width: 50px;
    height: 50px;
    background-size: 80%;
    background-position: center;
    display: inline-block;
    background-color: var(--nlt-blue);
    background-repeat: no-repeat;
}

body > footer > section.links > article.social {
    padding: 0;
    text-align: right;
}

body > footer > section.links > article.social a.twitter {
    background-image: url(../img/twitter.png);
}

body > footer > section.links > article.social a.instagram {
    background-image: url(../img/instagram.png);
}

body > footer > section.links > article.legal {
    float: right;
    text-align: left;
    padding: 0;
    line-height: 50px;
    padding-left: 5%;
}

body > footer > section.links > article.social,
body > footer > section.links > article.legal {
    padding-bottom: 100px;
}

article#servicios > section {
    text-align: center;
    padding: 1% 10%;
}

article#servicios > section > h3 {
    text-indent: -9999px;
    background-repeat: no-repeat;
    height: 100px;
    background-size: auto 75%;
    background-position: center 70%;
}

article#servicios > section[data-name=NO] > h3 {
    height: 120px;
    background-image: url(../img/service-no.png);
}

article#servicios > section[data-name=legal] > h3 {
    background-image: url(../img/service-legal.png);
}

article#servicios > section[data-name=tech] > h3 {
    background-image: url(../img/service-tech.png);
}

@media only screen and (min-width: 600px) {
    body > header,
    body > nav {
        height: 400px;
    }
    body > footer {
        background-size: auto 100%;
    }
}

@media only screen and (min-width: 1000px) {
    body > header,
    body > nav {
        height: 600px;
    }
    body > footer {
        background-size: auto 100%;
    }
    body > footer > section.logo {
        width: 20%;
        background-size: 60%;
        background-position: 60% 40%;
    }
    body > footer > section.contact {
        width: 80%;
        height: 120px;
        margin-top: 300px;
        text-align: right;
        padding: 0;
        padding-top: 70px;
        padding-right: 5%;
    }
    body > footer > section.links {
        display: block;
        width: 80%;
        height: 130px;
        text-align: right;
        padding: 0;
        padding-right: 5%;
    }
    body > footer > section.links > article.social {
        padding: 0;
    }
    body > footer > section.links > article.legal {
        width: auto;
        padding-right: 5%;
        text-align: right;
        padding-left: 2%;
        padding: 0;
        padding-left: 2%;
    }
}

@media only screen and (min-width: 1440px) {
    body > header,
    body > nav {
        height: 792px;
    }
}

@media only screen and (min-width: 1920px) {
    body > header,
    body > nav {
        height: 1000px;
    }
}
